---
import { SITE_CONFIG } from "@/data/site-config";
import PopularTags from "../components/landing/PopularTags.astro";
export interface Props {
    siteName?: string;
}

const { siteName = SITE_CONFIG.title } = Astro.props;
const currentYear = new Date().getFullYear();
---

<!-- Main Footer Start -->
<footer class="main-footer">
    <div class="main-footer__shape-1 img-bounce"></div>
    <div class="main-footer__top"><PopularTags /></div>
    <div class="main-footer__bottom">
        <div class="container">
            <div class="main-footer__bottom-inner">
                <p class="main-footer__bottom-text">
                    Copyright ©2025-{currentYear}
                    <a href="/">{siteName}</a>. Built by Built by
                    <a
                        href="https://astroseoblog.com/"
                        target="_blank"
                        rel="noopener noreferrer"
                        class="hover:text-text transition-colors"
                        >AstroSeoBlog</a
                    > • MIT License
                </p>
            </div>
        </div>
    </div>
</footer>
<!-- Main Footer End -->
