---
import { SITE_CONFIG } from "@/data/site-config";
---

<section
    class="page-title"
    data-background="/assets/ai/images/pagetitle-bg.png"
    style='background-image: url("/assets/ai/images/pagetitle-bg.png");'
>
    <div class="container">
        <div class="breadcrumb__content">
            <ul class="breadcrumb__list clearfix list-unstyled">
                <li class="breadcrumb-item"><a href="/">home</a></li>
                <li class="breadcrumb-item">About</li>
            </ul>
            <h2 class="breadcrumb__title">About</h2>
        </div>
    </div>
</section>
<section class="about">
    <div class="container">
        <div class="container py-12 lg:py-16">
            <div class="max-w-5xl mx-auto">
                <div class="about-box">
                    <h2 class="about-title">About {SITE_CONFIG.title}</h2>
                    <div class="about-body">
                        <p>
                            {SITE_CONFIG.description}
                        </p>
                    </div>
                </div>
                <div class="about-box">
                    <h2 class="about-title">Mission</h2>
                    <div class="about-body">
                        <p>
                            At EvoArt, our mission is to empower creative
                            professionals and enthusiasts to stay at the
                            forefront of AI-driven innovation. We curate and
                            deliver the most relevant AI tools, breakthroughs,
                            and practical insights—bridging the gap between
                            emerging technology and real-world creative
                            application. By fostering a hub of discovery and
                            deep analysis, we aim to inspire and equip the next
                            generation of artists, designers, and thinkers to
                            shape the future with AI.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
