/*** 

====================================================================
	Faq  
====================================================================

***/
.faq {
    position: relative;
    display: block;
    padding: 100px 0px;
    .container {
        max-width: 875px;
    }
}

.faq__inner {
    position: relative;
    display: block;
    .faq-accrodion {
        .accrodion {
            position: relative;
            display: block;
            background-color: var(--thm-main-bg);
            border: 1px solid var(--thm-bdr-color);
            border-radius: var(--thm-border-radius);
            -webkit-transition: all 500ms ease;
            transition: all 500ms ease;
            &.active .accrodion-title h4 {
                color: var(--thm-white);
                &::before {
                    content: "\e901";
                    color: var(--thm-white);
                    border-radius: 50%;
                    text-align: center;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transform: rotate(-180deg);
                }
            }
            + .accrodion {
                margin-top: 15px;
            }
            .accrodion-title {
                position: relative;
                display: block;
                cursor: pointer;
                padding: 20px 30px 20px;
                transition: all 200ms linear;
                transition-delay: 0.1s;
                padding-right: 25px;
                h4 {
                    margin: 0;
                    font-size: 16px;
                    color: var(--thm-gray);
                    font-weight: 600;
                    line-height: 1.4;
                    position: relative;
                    -webkit-transition: all 500ms ease;
                    letter-spacing: -0.02em;
                    transition: all 500ms ease;
                    text-transform: capitalize;
                    &::before {
                        content: "\e901";
                        font-family: "icomoon" !important;
                        font-size: 13px;
                        color: var(--thm-gray);
                        position: absolute;
                        top: 50%;
                        right: 0;
                        line-height: 1;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        -webkit-transform: translateY(-50%);
                        transform: translateY(-50%);
                        -webkit-transition: all 500ms ease;
                        transition: all 500ms ease;
                        text-align: center;
                        width: 21px;
                        height: 21px;
                    }
                }
            }
            .accrodion-content {
                position: relative;
                padding-bottom: 27px;
                padding-left: 30px;
                padding-right: 30px;
                line-height: 1.6;
                p {
                    margin: 0 0px 10px 0px;

                    a {
                        color: var(--thm-gradient-color2);
                    }
                }
                li {
                    color: var(--thm-gray);
                    position: relative;
                    font-size: 14px;
                }
                ul,
                ol {
                    padding-left: 1.5rem;
                }
                ol {
                    li {
                        list-style: decimal;
                        &::marker {
                            color: #fff;
                        }
                    }
                }

                ul {
                    li {
                        &::before {
                            content: "";
                            position: absolute;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            max-width: 8px;
                            width: 100%;
                            height: 4px;
                            background-color: #fff;
                            left: -1.4rem;
                            top: 9px;
                        }
                    }
                }
            }
        }
    }
}

/* End */
