---
import { SITE_CONFIG } from "@/data/site-config";
---

<!-- Feature Start -->
<section class="feature-section">
    <div class="container">
        <div class="feature-section__inner">
            <h2 class="feature-section__title">
                {SITE_CONFIG.subject}
            </h2>
            <div class="feature-section__btn-box">
                <a href="/about" class="thm-btn feature-section__btn">
                    <i class="fal fa-plus"></i> Get Started Free</a
                >
            </div>
            <div class="feature-section__main-content-box">
                <div class="feature-section__color-overly-1 flaot-bob-y"></div>
                <div class="feature-section__color-overly-2 flaot-bob-x"></div>
                <div class="feature-section__color-overly-3 img-bounce"></div>
                <div class="feature-section__main-content-top">
                    <ul class="feature-section__list">
                        <li>
                            <div class="feature-section__single">
                                <div class="feature-section__icon">
                                    <img
                                        src="/assets/ai/images/icons/ai-content-writing.png"
                                        alt=""
                                    />
                                </div>
                                <h5 class="feature-section__title-2">
                                    <a href="/about"
                                        >AI Content <br />
                                        Writing</a
                                    >
                                </h5>
                            </div>
                        </li>
                        <li>
                            <div class="feature-section__single">
                                <div class="feature-section__icon">
                                    <img
                                        src="/assets/ai/images/icons/ai-image.png"
                                        alt=""
                                    />
                                </div>
                                <h5 class="feature-section__title-2">
                                    <a href="/about"
                                        >AI Image <br />
                                        Generator</a
                                    >
                                </h5>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="feature-section__main-content-middle">
                    <div class="feature-section__start-1 zoominout">
                        <img
                            src="/assets/ai/images/shapes/feature-star-1.png"
                            alt=""
                        />
                    </div>
                    <div class="feature-section__start-2 float-bob-x">
                        <img
                            src="/assets/ai/images/shapes/feature-star-2.png"
                            alt=""
                        />
                    </div>
                    <div class="feature-section__start-3 float-bob-y">
                        <img
                            src="/assets/ai/images/shapes/feature-star-3.png"
                            alt=""
                        />
                    </div>

                    <div class="feature-section__start-5 zoominout">
                        <img
                            src="/assets/ai/images/shapes/feature-star-5.png"
                            alt=""
                        />
                    </div>
                    <div class="feature-section__start-6 float-bob-x">
                        <img
                            src="/assets/ai/images/shapes/feature-star-6.png"
                            alt=""
                        />
                    </div>
                    <div class="feature-section__start-7 float-bob-y">
                        <img
                            src="/assets/ai/images/shapes/feature-star-7.png"
                            alt=""
                        />
                    </div>

                    <div class="feature-section__ai-pack">
                        <h3>AI Pack</h3>
                    </div>
                    <ul class="feature-section__list">
                        <li>
                            <div class="feature-section__single">
                                <div class="feature-section__icon">
                                    <img
                                        src="/assets/ai/images/icons/ai-code.png"
                                        alt=""
                                    />
                                </div>
                                <h5 class="feature-section__title-2">
                                    <a href="/about">AI Code <br /> Generator</a
                                    >
                                </h5>
                            </div>
                        </li>
                        <li>
                            <div class="feature-section__cpu-icon-box">
                                <img
                                    src="/assets/ai/images/icons/cpu.png"
                                    alt=""
                                />
                            </div>
                        </li>
                        <li>
                            <div class="feature-section__single">
                                <div class="feature-section__icon">
                                    <img
                                        src="/assets/ai/images/icons/ai-chat.png"
                                        alt=""
                                    />
                                </div>
                                <h5 class="feature-section__title-2">
                                    <a href="/about">AI Chat Bot</a>
                                </h5>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="feature-section__main-content-bottom">
                    <div class="feature-section__start-4 zoominout">
                        <img
                            src="/assets/ai/images/shapes/feature-star-4.png"
                            alt=""
                        />
                    </div>
                    <div class="feature-section__start-8 float-bob-x">
                        <img
                            src="/assets/ai/images/shapes/feature-star-8.png"
                            alt=""
                        />
                    </div>
                    <ul class="feature-section__list">
                        <li>
                            <div class="feature-section__single">
                                <div class="feature-section__icon">
                                    <img
                                        src="/assets/ai/images/icons/ai-audio.png"
                                        alt=""
                                    />
                                </div>
                                <h5 class="feature-section__title-2">
                                    <a href="/about"
                                        >Generate <br /> Text to Audio</a
                                    >
                                </h5>
                            </div>
                        </li>
                        <li>
                            <div class="feature-section__single">
                                <div class="feature-section__icon">
                                    <img
                                        src="/assets/ai/images/icons/ai-speech.png"
                                        alt=""
                                    />
                                </div>
                                <h5 class="feature-section__title-2">
                                    <a href="/about">Speech to <br /> Text</a>
                                </h5>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Feature End -->
